<a href="https://colab.research.google.com/github/james-caldwell1981/DS-Unit-1-Build-Sprint/blob/master/Build_Sprint_1_Caldwell_James_TL_Hadi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#import all libraries

import pandas as pd
import numpy as np
import plotly.express as px
from plotly import figure_factory as ff
import plotly.graph_objects as go
from pdb import set_trace as st

In [2]:
#get data and data key
!wget http://www.stat.columbia.edu/~gelman/arm/examples/speed.dating/Speed%20Dating%20Data%20Key.doc

--2020-08-26 02:40:52--  http://www.stat.columbia.edu/~gelman/arm/examples/speed.dating/Speed%20Dating%20Data%20Key.doc
Resolving www.stat.columbia.edu (www.stat.columbia.edu)... 128.59.111.11
Connecting to www.stat.columbia.edu (www.stat.columbia.edu)|128.59.111.11|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 161792 (158K) [application/msword]
Saving to: ‘Speed Dating Data Key.doc.2’

Speed Dating Data K 100%[===================>] 158.00K   298KB/s    in 0.5s

2020-08-26 02:40:54 (298 KB/s) - ‘Speed Dating Data Key.doc.2’ saved [161792/161792]

In [3]:
#read data into dataframe
df = pd.read_csv('/content/Speed_Dating_Data.csv')

In [4]:
df.head()

   iid   id  gender  idg  condtn  ...  attr5_3  sinc5_3  intel5_3  fun5_3  amb5_3
0    1  1.0       0    1       1  ...      NaN      NaN       NaN     NaN     NaN
1    1  1.0       0    1       1  ...      NaN      NaN       NaN     NaN     NaN
2    1  1.0       0    1       1  ...      NaN      NaN       NaN     NaN     NaN
3    1  1.0       0    1       1  ...      NaN      NaN       NaN     NaN     NaN
4    1  1.0       0    1       1  ...      NaN      NaN       NaN     NaN     NaN

[5 rows x 195 columns]

In [5]:
#create df with only matched couples
matched_df = df[df['match']==1]

In [6]:
#create new column with age difference
matched_df['age_diff'] = abs(df['age']-df['age_o'])
matched_df['age_diff'].head()

2     1.0
3     2.0
4     3.0
8     7.0
13    1.0
Name: age_diff, dtype: float64

In [7]:
matched_df.shape

(1380, 196)

In [8]:
#create df with only unmatched couples
unmatched_df = df[df['match']==1]

In [9]:
#create new column with age difference
unmatched_df['age_diff'] = abs(df['age']-df['age_o'])
unmatched_df['age_diff'].head()

2     1.0
3     2.0
4     3.0
8     7.0
13    1.0
Name: age_diff, dtype: float64

In [10]:
unmatched_df.shape

(1380, 196)

In [14]:
matched_df.describe()

               iid           id  ...      amb5_3     age_diff
count  1380.000000  1380.000000  ...  363.000000  1344.000000
mean    278.031884     8.950725  ...    7.079890     3.181548
std     158.472171     5.370848  ...    1.640882     2.669106
min       1.000000     1.000000  ...    1.000000     0.000000
25%     142.000000     4.000000  ...    6.000000     1.000000
50%     274.000000     8.000000  ...    7.000000     3.000000
75%     404.000000    13.000000  ...    8.000000     5.000000
max     552.000000    22.000000  ...   10.000000    17.000000

[8 rows x 188 columns]

In [16]:
unmatched_df.describe()

               iid           id  ...      amb5_3     age_diff
count  1380.000000  1380.000000  ...  363.000000  1344.000000
mean    278.031884     8.950725  ...    7.079890     3.181548
std     158.472171     5.370848  ...    1.640882     2.669106
min       1.000000     1.000000  ...    1.000000     0.000000
25%     142.000000     4.000000  ...    6.000000     1.000000
50%     274.000000     8.000000  ...    7.000000     3.000000
75%     404.000000    13.000000  ...    8.000000     5.000000
max     552.000000    22.000000  ...   10.000000    17.000000

[8 rows x 188 columns]

In [22]:
matched_male = matched_df[matched_df['gender']==1]

In [25]:
unmatched_male = unmatched_df[unmatched_df['gender']==1]

In [27]:
matched_male = matched_df[matched_df['gender']==0]

In [28]:
unmatched_male = unmatched_df[unmatched_df['gender']==0]

In [11]:
careers = ['Law', 'Math', 'SocSciPsych', 'MedSciPharm', 'Engineering',
        'EngJourn', 'HistRelPhil', 'BusEconFin', 'Education', 'BioSciChemPhys',
        'SocialWork', 'UndGrad', 'PoliSciIntAffairs', 'Film', 'FineArtsAdmin',
        'Languages', 'Architecture', 'Other']

In [57]:
[i for i in df.columns]

['iid',
 'id',
 'gender',
 'idg',
 'condtn',
 'wave',
 'round',
 'position',
 'positin1',
 'order',
 'partner',
 'pid',
 'match',
 'int_corr',
 'samerace',
 'age_o',
 'race_o',
 'pf_o_att',
 'pf_o_sin',
 'pf_o_int',
 'pf_o_fun',
 'pf_o_amb',
 'pf_o_sha',
 'dec_o',
 'attr_o',
 'sinc_o',
 'intel_o',
 'fun_o',
 'amb_o',
 'shar_o',
 'like_o',
 'prob_o',
 'met_o',
 'age',
 'field',
 'field_cd',
 'undergra',
 'mn_sat',
 'tuition',
 'race',
 'imprace',
 'imprelig',
 'from',
 'zipcode',
 'income',
 'goal',
 'date',
 'go_out',
 'career',
 'career_c',
 'sports',
 'tvsports',
 'exercise',
 'dining',
 'museums',
 'art',
 'hiking',
 'gaming',
 'clubbing',
 'reading',
 'tv',
 'theater',
 'movies',
 'concerts',
 'music',
 'shopping',
 'yoga',
 'exphappy',
 'expnum',
 'attr1_1',
 'sinc1_1',
 'intel1_1',
 'fun1_1',
 'amb1_1',
 'shar1_1',
 'attr4_1',
 'sinc4_1',
 'intel4_1',
 'fun4_1',
 'amb4_1',
 'shar4_1',
 'attr2_1',
 'sinc2_1',
 'intel2_1',
 'fun2_1',
 'amb2_1',
 'shar2_1',
 'attr3_1',
 'sinc3_1',
 'fun3_1',
 'intel3_1',
 'amb3_1',
 'attr5_1',
 'sinc5_1',
 'intel5_1',
 'fun5_1',
 'amb5_1',
 'dec',
 'attr',
 'sinc',
 'intel',
 'fun',
 'amb',
 'shar',
 'like',
 'prob',
 'met',
 'match_es',
 'attr1_s',
 'sinc1_s',
 'intel1_s',
 'fun1_s',
 'amb1_s',
 'shar1_s',
 'attr3_s',
 'sinc3_s',
 'intel3_s',
 'fun3_s',
 'amb3_s',
 'satis_2',
 'length',
 'numdat_2',
 'attr7_2',
 'sinc7_2',
 'intel7_2',
 'fun7_2',
 'amb7_2',
 'shar7_2',
 'attr1_2',
 'sinc1_2',
 'intel1_2',
 'fun1_2',
 'amb1_2',
 'shar1_2',
 'attr4_2',
 'sinc4_2',
 'intel4_2',
 'fun4_2',
 'amb4_2',
 'shar4_2',
 'attr2_2',
 'sinc2_2',
 'intel2_2',
 'fun2_2',
 'amb2_2',
 'shar2_2',
 'attr3_2',
 'sinc3_2',
 'intel3_2',
 'fun3_2',
 'amb3_2',
 'attr5_2',
 'sinc5_2',
 'intel5_2',
 'fun5_2',
 'amb5_2',
 'you_call',
 'them_cal',
 'date_3',
 'numdat_3',
 'num_in_3',
 'attr1_3',
 'sinc1_3',
 'intel1_3',
 'fun1_3',
 'amb1_3',
 'shar1_3',
 'attr7_3',
 'sinc7_3',
 'intel7_3',
 'fun7_3',
 'amb7_3',
 'shar7_3',
 'attr4_3',
 'sinc4_3',
 'intel4_3',
 'fun4_3',
 'amb4_3',
 'shar4_3',
 'attr2_3',
 'sinc2_3',
 'intel2_3',
 'fun2_3',
 'amb2_3',
 'shar2_3',
 'attr3_3',
 'sinc3_3',
 'intel3_3',
 'fun3_3',
 'amb3_3',
 'attr5_3',
 'sinc5_3',
 'intel5_3',
 'fun5_3',
 'amb5_3']

In [54]:
# matched_df[matched_df['career_c']!=np.NaN]['career_c'].head(30)
# matched_df['career_c'].value_counts()
(matched_df[matched_df['career_c'] == 1])[["career"]].head(30)

                 career
33   lawyer/policy work
38   lawyer/policy work
43               lawyer
48               lawyer
53               lawyer
58               lawyer
63                  Law
68                  Law
117    Corporate Lawyer
118    Corporate Lawyer
120              Lawyer
127              Lawyer
128              Lawyer
129              Lawyer
130  Corporate attorney
131  Corporate attorney
133  Corporate attorney
134  Corporate attorney
135  Corporate attorney
136  Corporate attorney
137  Corporate attorney
138  Corporate attorney
140              Lawyer
147              Lawyer
148              Lawyer
353              Lawyer
359              Lawyer
368                 law
369                 law
370                 law

In [ ]:
fig = go.Figure()

fig.add_trace(go.Bar(
    x=male_match_df.columns,
    y=[male_match_df[i].mean() for i in male_match_df.columns],
    name='Matched Male Interests',
    marker_color='rgb(50, 50, 200)'))

fig.add_trace(go.Bar(
    x=female_match_df.columns,
    y=[female_match_df[i].mean() for i in female_match_df.columns],
    name='Matched Female Interests',
    marker_color='rgb(230, 50, 50)'))

# Here we modify the tickangle of the xaxis, resulting in rotated labels.
fig.update_layout(barmode='group', plot_bgcolor='rgb(240,240,240)')
fig.show()

In [ ]:
fig = go.Figure()

fig.add_trace(go.Scatter(
    x=male_match_df.columns,
    y=[male_match_df[i].mean() for i in male_match_df.columns],
    name='Matched Male Interests',
    mode='markers',
    marker=dict(color='rgb(50, 50, 200)', size=10),
))

fig.add_trace(go.Scatter(
    x=female_match_df.columns,
    y=[female_match_df[i].mean() for i in female_match_df.columns],
    name='Matched Female Interests',
    mode='markers',
    marker=dict(color='rgb(230, 50, 50)', size=10),
    marker_color='rgb(230, 50, 50)'))

# Here we modify the tickangle of the xaxis, resulting in rotated labels.
fig.update_layout(barmode='group', plot_bgcolor='rgb(240,240,240)')
fig.show()

In [ ]:
df.head()

In [ ]:
fig = go.Figure()

fig.add_trace(go.Scatter(
    x=df['wave'],
    y=df[],
    name='Matched Male Interests',
    mode='markers',
    marker=dict(color='rgb(50, 50, 200)', size=10),
))

fig.add_trace(go.Scatter(
    x=female_match_df.columns,
    y=[female_match_df[i].mean() for i in female_match_df.columns],
    name='Matched Female Interests',
    mode='markers',
    marker=dict(color='rgb(230, 50, 50)', size=10),
    marker_color='rgb(230, 50, 50)'))

# Here we modify the tickangle of the xaxis, resulting in rotated labels.
fig.update_layout(barmode='group', plot_bgcolor='rgb(240,240,240)')
fig.show()